$tr: transparent;

$white:    #FFFFFF;
$pages:    #EAEAEA;
$object:   #EAEFFC;
$bg:       #F8F8F8;
$border:   #B7BABE;
$caption:  #788394;
$body:     #39414E;
$headline: #202327;

$primary: #0095FF;
$success: #52B530;
$waring:  #F9AA34;
$danger:  #E85656;

$primary-hover: #007CD5;
$success-hover: #8DDA72;
$waring-hover:  #FABF66;
$danger-hover:  #EE8181;

$primary-pressed: #0065AD;
$success-pressed: #408D25;
$waring-pressed:  #F29408;
$danger-pressed:  #E12828;

$npm: #CB0001;