.input-file {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  input {
    &::-webkit-file-upload-button {
      visibility: hidden;
      position: relative;
    }
    &::before {
      content: '';
      width: $size-x12;
      height: calc($size-100 - $size-x4);
      display: inline-block;
      outline: none;
      white-space: nowrap;
      position: absolute;
      top: $size-x2;
      right: 0;
      -webkit-user-select: none;
      cursor: pointer;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='add' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 768 768' style='enable-background:new 0 0 768 768;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23888888;%7D%0A%3C/style%3E%3Cpath class='st0' d='M672,440.6H424.6V688h-81.2V440.6H96v-81.2h247.4V112h81.2v247.4H672V440.6z'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: $size-x5;
      background-repeat: no-repeat;
      @include border(0,0,0,2,$gray,.4);
    }
    &:focus {
      &::before {
        border-color: $primary;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='add' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 768 768' style='enable-background:new 0 0 768 768;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2340b4ea;%7D%0A%3C/style%3E%3Cpath class='st0' d='M672,440.6H424.6V688h-81.2V440.6H96v-81.2h247.4V112h81.2v247.4H672V440.6z'/%3E%3C/svg%3E%0A");
      }
    }
    &.error {
      &::before {
        border-color: $danger;
      }
    }
  }
}