html {
  height: $zui-100p;
  overflow-x: hidden;

  body {
    background-color: $white;
    height: $zui-100p;
    overflow-x: hidden;
    @include text($normal-x5);
  }
}

.__screen {
  overflow-y: hidden;
}

.container {
  max-width: $grid;
  margin: 0 auto;
  padding: 0 $zui-12;
  box-sizing: border-box;
  position: relative;
  @include flex($cl,$fs,$sh,0);
}

.content {
  // white-space: pre-wrap;
}

#__nuxt {
  height: 100dvh;
}