=center 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)


=top_center 
  position: absolute
  top: 0
  left: 50%
  transform: translate(-50%, 0)


=top_left 
  position: absolute
  top: 0
  left: 0


=top_right 
  position: absolute
  top: 0
  right: 0


=bottom_center 
  position: absolute
  bottom: 0
  left: 50%
  transform: translate(-50%, 0)


=bottom_left 
  position: absolute
  bottom: 0
  left: 0


=bottom_right 
  position: absolute
  bottom: 0
  right: 0


=left_center 
  position: absolute
  top: 50%
  left: 0%
  transform: translate(0, -50%)


=right_center 
  position: absolute
  top: 50%
  right: 0%
  transform: translate(0, -50%)

