// Font size
$fs-x1: 4px
$fs-x2: 8px
$fs-x3: 12px
$fs-x4: 16px
$fs-x5: 20px
$fs-x6: 24px
$fs-x8: 32px
$fs-x10: 40px
$fs-x11: 44px
$fs-x12: 48px
$fs-x14: 56px
$fs-x16: 64px

// line height
$lh-x1: 4px
$lh-x2: 8px
$lh-x3: 12px
$lh-x4: 16px
$lh-x5: 20px
$lh-x6: 24px
$lh-x7: 28px
$lh-x8: 32px
$lh-x10: 40px
$lh-x11: 44px
$lh-x12: 48px
$lh-x13: 52px
$lh-x14: 56px
$lh-x15: 60px
$lh-x16: 64px

// Font weight
$fw-l: 300
$fw-r: 400
$fw-m: 500
$fw-sb: 600
$fw-b: 700

// icons
$icon-x3: 12px
$icon-x4: 16px
$icon-x5: 20px
$icon-x6: 24px
$icon-x8: 32px

// Text transfortm	
$ls: -0.02em
$td-u: underline
$td-lt: line-through
$tc-u: uppercase
$tc-c: capitalize