@mixin break_word() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
@mixin text_count_line($count) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  @include break_word;
}