@mixin title($font, $color: null) {
  @if $color != null {
    color: $color;
  } else {
    color: $heading;
  }
  font: $font;
}

@mixin subline($font, $color: null) {
  @if $color != null {
    color: $color;
  } else {
    color: $heading;
  }
  font: $font;
}

@mixin text($font, $color: null) {
  @if $color != null {
    color: $color;
  } else {
    color: $heading;
  }
  font: $font;
}

@mixin ul() {
  margin-bottom: $gap-x5;
  li {
    margin-bottom: $gap-x5;
    position: relative;
    padding-left: $gap-x7;
    @include text($body-normal-x5);

    @include adaptive(mobile) {
      margin-bottom: $gap-x4;
    }

    &::before {
      content: '';
      width: $size-x2;
      height: $size-x2;
      display: block;
      position: absolute;
      background: $primary;
      border-radius: $br-100;
      top: $gap-x3;
      left: $gap-x0;
    }
  }
}

@mixin ol() {
  counter-reset: ol-counter;
  margin-bottom: $gap-x5;

  li {
    margin-bottom: $gap-x5;
    position: relative;
    padding-left: $gap-x7;
    @include text($body-normal-x5);

    &::before {
      color: $primary;
      content: counter(ol-counter)'.';
      counter-increment: ol-counter;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@mixin blockquote() {
  padding: $gap-x7 $gap-x9;
  background: $blockquote;
  border-radius: $br-x5;
  margin-bottom: $gap-x9;
  @include text($body-normal-x5, $gray);
}

@mixin hr() {
  width: $size-100;
  @include border(0,0,1,0,$heading,.2);
  margin-bottom: $gap-x5;
}

@mixin table() {
  width: $size-100;
  border-collapse: collapse;
  margin-bottom: $gap-x5;
  thead {
    tr {
      th {
        padding: $gap-x2;
        @include text($body-bold-x5);
        @include border(0,0,2,0,$primary,1);
        &:first-child {
          text-align: left;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        padding: $gap-x2;
        @include text($body-normal-x5);
        @include border(0,0,1,0,$heading,.2);
        &:not(:first-child) {
          text-align: center;
        }
      }
      &:last-child {
        td {
          border: 0;
        }
      }
    }
  }
}