section
	width: 80vw
	box-sizing: border-box
	gap: $gap-x4
	padding: $gap-x9 0
	margin: 0 auto
	+flex(column,flex-start,flex-start)

	h1
		+h1
	h2
		+h2
	h3
		+h3
	p
		+p
	ul
		+ul
	ol
		+ol
	blockquote 
		+blockquote 
	table
		+table
	hr
		+hr
