// Border radius
$br-x1: 4px;
$br-x2: 8px;
$br-x3: 12px;
$br-x4: 16px;
$br-x5: 20px;
$br-x6: 24px;
$br-x10: 40px;
$br-100: 100px;

// Border width
$bw-x0-25: 1px;
$bw-x0-5: 2px;
$bw-x1: 4px;
$bw-x2: 8px;
$bw-x3: 12px;
$bw-x4: 16px;
$bw-x5: 20px;
$bw-x6: 24px;