$tr: transparent;

$body: #f8f8f8;
$text: #333333;
$blockquote: #eeeeee;

$white: #ffffff;
$gray: #888888;

$primary: #325FEB;
$primary-hover: #6185F0;
$primary-pressed: #1544D6;
$secondary: #F9AA34;
$secondary-hover: #FABF66;
$secondary-pressed: #F29408;
$tertiary-hover: #4E555F;
$success: #52B530;
$success-hover: #8DDA72;
$success-pressed: #408D25;
$danger: #E85656;
$danger-hover: #EE8181;
$danger-pressed: #E12828;