$gap-x0: 0;
$gap-x1: 4px;
$gap-x2: 8px;
$gap-x3: 12px;
$gap-x4: 16px;
$gap-x5: 20px;
$gap-x6: 24px;
$gap-x7: 32px;
$gap-x8: 36px;
$gap-x9: 40px;
$gap-x10: 44px;
$gap-x11: 48px;
$gap-x12: 52px;
$gap-x13: 56px;
$gap-x14: 60px;
$gap-x15: 64px;
$gap-x16: 68px;
$gap-x17: 72px;
$gap-x18: 76px;
$gap-x19: 80px;