$size-x1: 4px;
$size-x2: 8px;
$size-x3: 12px;
$size-x4: 16px;
$size-x5: 20px;
$size-x6: 24px;
$size-x7: 32px;
$size-x8: 36px;
$size-x9: 40px;
$size-x10: 44px;
$size-x11: 48px;
$size-x12: 52px;
$size-x13: 56px;
$size-x14: 60px;
$size-x15: 64px;
$size-x16: 68px;
$size-x17: 72px;
$size-x18: 76px;
$size-x19: 80px;
$size-100: 100%;