<!DOCTYPE html>
html lang="ru"
	head
		meta charset="UTF-8"/
		meta name="viewport" content="width=device-width, initial-scale=1.0"/

		link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, projection"

		title ZUI v 0.1
	body 
		section 
			h1 Финансовый мир очнулся: выбранный нами инновационный путь развеял последние сомнения
			hr
			h2 Финансовый мир очнулся: выбранный нами инновационный путь развеял последние сомнения
			hr
			h3 Финансовый мир очнулся: выбранный нами инновационный путь развеял последние сомнения
			p Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление, в своём классическом представлении, допускает внедрение новых предложений. Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает актуальность модели развития. Учитывая ключевые сценарии поведения, курс на социально-ориентированный национальный проект не оставляет шанса для системы массового участия.
			ul 
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
			p Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление, в своём классическом представлении, допускает внедрение новых предложений. Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает актуальность модели развития. Учитывая ключевые сценарии поведения, курс на социально-ориентированный национальный проект не оставляет шанса для системы массового участия.
			ol 
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
				li Не следует, однако, забывать, что разбавленное изрядной долей эмпатии
			blockquote Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление, в своём классическом представлении, допускает внедрение новых предложений. Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает актуальность модели развития. Учитывая ключевые сценарии поведения, курс на социально-ориентированный национальный проект не оставляет шанса для системы массового участия.
			p Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление, в своём классическом представлении, допускает внедрение новых предложений. Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает актуальность модели развития. Учитывая ключевые сценарии поведения, курс на социально-ориентированный национальный проект не оставляет шанса для системы массового участия.
			table 
				thead 
					tr
						th Язык
						th Год
						th Вхождение
				tbody
					tr
						td html
						td 1990
						td 9/10
					tr
						td css
						td 1996
						td 9/10
					tr
						td javascript
						td 1995
						td 6/10
			h2 Форма
			form.form action="javascript"
				.form-row
					label.label Input defalut
					input type="text" placeholder="Placeholder" 
				.form-row.error
					label.label 
						| Input error
						span Текст ошибки формы
					input.error type="text" placeholder="Placeholder" 
				.form-row
					label.label Input disabled
					input type="text" disabled="disabled" placeholder="Placeholder"
				.form-row 
					label.label File 
					.input-file
						input type="file"
				.form-row
					label.label Select defalut
					select name=""
						option value="html" HTML
						option value="css" CSS
						option value="js" JavaScript
				.form-row.error
					label.label 
						| Select error
						span Текст ошибки формы
					select.error name=""
						option value="html" HTML
						option value="css" CSS
						option value="js" JavaScript
				.form-row
					label.label Select disabled
					select disabled="disabled" name=""
						option value="html" HTML
						option value="css" CSS
						option value="js" JavaScript
				.form-row
					label.label Textarea defalut 
					textarea placeholder="Placeholder"
				.form-row.error
					label.label 
						| Textarea error
						span Текст ошибки формы
					textarea.error placeholder="Placeholder"
				.form-row
					label.label Textarea disabled
					textarea disabled="disabled" placeholder="Placeholder"
				.form-row 
					.radio
						label.radio-control
							input type="radio" name="radio" checked="checked"
							.radio-control__indicator
							| Checked
						label.radio-control
							input type="radio" name="radio"
							.radio-control__indicator
							| No checked
						label.radio-control
							input type="radio" name="radio"
							.radio-control__indicator
							| No checked
						label.radio-control
							input type="radio" name="radio" disabled="disabled"
							.radio-control__indicator
							| Disabled
				.form-row 
					.checkbox
						label.checkbox-control
							input type="checkbox" name="checkbox" checked="checked"
							.checkbox-control__indicator
							| Checked
						label.checkbox-control
							input type="checkbox" name="checkbox"
							.checkbox-control__indicator
							| No checked
						label.checkbox-control
							input type="checkbox" name="checkbox"
							.checkbox-control__indicator
							| No checked
						label.checkbox-control
							input type="checkbox" name="checkbox" disabled="disabled"
							.checkbox-control__indicator
							| Disabled
			h2 Кнопки
			a.button href="javascript:void(0);" .button
			a.button.disabled href="javascript:void(0);" .button.disabled
			a.button.full href="javascript:void(0);" .button.full
			a.button.border href="javascript:void(0);" .button.border
			a.button.border.disabled href="javascript:void(0);" .button.border.disabled
			a.button.border.full href="javascript:void(0);" .button.border.full
			a.button.hover-black href="javascript:void(0);" .button
			a.button.full.hover-black href="javascript:void(0);" .button.full
			a.button.border.hover-border__black href="javascript:void(0);" .button.border
			a.button.border.full.hover-border__black href="javascript:void(0);" .button.border.full